:root {
	--blue: #88BBFF;
	--yellow: #FFFFA0;
}

.panel {
	height: auto;
	box-shadow: 0 0 10px #999999;
	background-color: white;
	border: 1px solid lightgrey;
}
.header_panel {
	position: absolute;
	width: calc(100% - 2px);
	height: 75px;
	top: 0;
	left: 0;
	background-color: #2196f3;
}
#user_welcome {
	position: absolute;
	margin: none;
	left: 50px;
	line-height: 75px;
	width: 300px;
	height: auto;
	text-align: center;
	border-radius: 20px;
	font-size: 24px;
	color: var(--yellow);
}
#user_welcome:hover {
	cursor: pointer;
	background-color: rgba(200,200,200,.2);
}
h {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	color: #ffeb3b;
}
button {
	width: auto;
	height: auto;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	background-color: var(--blue);
}
button:hover { cursor: pointer; }
.log_out {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--yellow);
}
input, textarea {
	position: relative;
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #393939;
	outline: none;
}
#toggle_actions {
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffeb3b;
}
.body_panel {
	position: relative;
	margin: auto;
	top: 100px;
	width: 80%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
}
#search_content {
	display: none;
	text-align: center;
}
.search {
	display: inline;
	width: 60%;
}
#submit_search {
	position: relative;
	margin-top: 10px;
}
.search_results {
	
}
#post_content {
	display: none;
	text-align: center;
}
.product {
	width: 300px;
	margin-right: 95px;
}
.price {
	width: 100px;
	margin-left: 5px;
}
.description {
	width: 520px;
	resize: vertical;
}
#user_content {
	display: none;
	margin: 15px;
}
.setting_element {
	margin: 30px;
}
.user_setting {
	position: relative;
	width: max-content;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid transparent;
	color: blue;
}
.clickable:hover {
	background-color: var(--yellow);
	border: 1px solid #393939;
	cursor: pointer;
}
.setting_form {
	display: none;
}
.change_input {
	display: block;
	padding: 5px;
	margin: 10px;
	width: 25%;
	box-shadow: 0 0 5px #999999;
	border: 1px solid transparent;
	border-radius: 5px;
}
.change_input:focus {
	outline: none;
	border-color: var(--blue);
	box-shadow: 0 0 5px var(--blue);
}
.setting_content {
	margin: 0 10px;
}
.setting {
	margin: 20px 0;
	padding: 10px;
	width: max-content;
	border-radius: 5px;
	box-shadow: 0 0 10px #CCC;
}
