# Don't track content of the target directory
target/
.idea/
*.iml
*.iws
log/

#Eclipse
.classpath
.project
.settings/

# We don't want to be posting the password to our mySQL server on GitHub
src/main/resources/
