:root {
	--blue: #88BBFF;
	--yellow: #FFFFA0;
}

.panel {
	height: auto;
	box-shadow: 0 0 10px #999999;
	background-color: white;
	border: 1px solid lightgrey;
}
.header_panel {
	position: fixed;
	width: calc(100% - 2px);
	height: 75px;
	top: 0;
	left: 0;
	background-color: #2196f3;
}
h {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	color: #ffeb3b;
}
button {
	width: auto;
	height: auto;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	background-color: var(--blue);
}
button:hover { cursor: pointer; }
input, textarea {
	position: relative;
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #393939;
	outline: none;
}
#toggle_actions {
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffeb3b;
}
.body_panel {
	position: relative;
	margin: auto;
	top: 100px;
	width: 80%;
	height: auto;
	padding: 10px;
	border-radius: 10px;
}
#search_content {
	display: block;
	text-align: center;
}
.search {
	display: inline;
	width: 60%;
}
#submit_search {
	position: relative;
	margin-top: 10px;
}
.search_results {
	
}
#post_content {
	display: none;
	text-align: center;
}
.product {
	width: 300px;
	margin-right: 95px;
}
.price {
	width: 100px;
	margin-left: 5px;
}
.description {
	width: 520px;
	resize: vertical;
}
